#home{
  .hero{
    height: auto;
    width: 100%;
    background-image: url(/imgs/hero-pic.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;

    .home-tabs__container{
      max-width: 865px;
      margin: 0 auto;
      .form-control{
        padding: 1.4rem 1rem;
      }
    }
  }

  .page-tab-content{
    margin: 80px 0px;
  }
}