html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-size: 100%;
	font-family: 'Lato', sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
}

html {
	font-size: 16px;
}

.tab-form{
	background-color: $primary;
	padding: 62px;

	.step-number__label{
		text-align: center;
    color: #fff;
    height: 40px;
    width: 40px;
    background-color: $yellow;
    display: inline-block;
    line-height: 40px;
    border-radius: 50%;

	}
}

@media screen and (min-width: 768px) {
	html {
			font-size: 0.95rem;
	}
}

@media screen and (max-width: 768px) {
	html {
			font-size: .9rem;
	}

	.tab-form{
		padding: 30px;

		.step-number__label{
			height: 30px;
			width: 30px;
			line-height: 30px;
		}
	}
}


