header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 40px;


  .app-logo__container{
    height: 34px;
    width: 100px;
  }

  .menu-toggle__btn{
    display: none;
    background-color: #fff;
    border: 0px;
    padding: 10px 20px;
  }

  nav{
    ul{
      display: flex;
      align-items: center;

      li {
        a {
          text-transform: uppercase;
          padding: 0px 20px;
          color: #fff;
          margin-right: 15px;

          &:hover{
            color: #fff;
          }
        }
      }
    }

    &.open{
      display: block;
    }
  }


  @media screen and (max-width: 772px) {

    // header
    padding: 0px 2rem;

    .menu-toggle__btn {
      display: block;
      z-index: 3;
    }

    nav{
      display: none;

      &.open{
        position: absolute;
        width: 100%;
        top: 0;
        background-color: #fff;
        z-index: 2;

        ul{
          flex-direction: column;
          align-items: unset;

          li a{
            padding: .9rem 2.6rem;
            color: #000;
            display: block;
            margin-right: 0px;
            border-radius: 0px;
          }
        }
      }
    }
  }
}