.hire-vehicles{
  margin: 40px 0px;

  .view-more__slider{
    overflow: hidden;
    .slide{
      height: 148px;
      border: 2px solid $primary;
      display: flex !important;
      justify-content: center;
      border-radius: 5px;

      a{
        color: #828282;

        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .slick-slide {
      padding: 20px;
      width: auto;
  }
  
  }

  .sub-actions{
    margin-bottom: 120px;
    button{
      padding: .7rem 1.5rem;
      border-radius: 30px;
      border: 0px;

      &.add-vehicle{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0;
      }

      &.rate-drivers{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0;
      }
    }
  }

  .solution-item{

    &__img{
      width: 51px;
      height: 47.6px;
      margin: 0 auto;
    }

    h6{
      color: $yellow;
    }
  }

  .outsource-section{
    background-image: url(/imgs/london.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }

  .features{
    #techpoint-logo{
      height: 31px;
    }
  }

  @media screen and (max-width: 768px) {
    .sub-actions {
      button{
        border-radius: 0px;
      }
    }
  }
}