footer{
  section:nth-child(1){
    background-color: $primary;
    color: #fff;

    a{
      color: #fff;
      font-size: .9rem;
    }

    .social-contact{
      display: flex;
      .app-logo__container{
        width: 120px;
      }

      .icons{
        display: flex;
        align-items: center;
        
        > a{
          font-size: 1.5rem;
          margin-right: 15px;
        }
      }
    }
  }

  section:nth-child(2){
    margin-bottom: 61px;
    background-color: $yellow;
  }

  @media screen and (max-width: 768px){
    section:nth-child(2){
      margin-bottom: 155px;
    }
  }
} 