html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-size: 100%;
  font-family: "Lato", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
}

.tab-form {
  background-color: #032942;
  padding: 62px;
}

.tab-form .step-number__label {
  text-align: center;
  color: #fff;
  height: 40px;
  width: 40px;
  background-color: #FEBE16;
  display: inline-block;
  line-height: 40px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9rem;
  }

  .tab-form {
    padding: 30px;
  }

  .tab-form .step-number__label {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
}

.btn {
  padding: 0.7rem 2rem;
  font-weight: 500;
}

.btn-primary {
  background-color: #032942;
  color: #fff !important;
  border-color: #032942;
}

.btn-warning {
  color: #fff;
}

.btn-outline-primary {
  border-color: #032942;
  color: #032942;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: #032942;
  box-shadow: none;
  outline: 0px;
  border: 0px;
}

.btn-outline-primary:focus {
  box-shadow: none;
}

.btn-outline-white {
  background-color: #fff;
  border-color: #032942;
  color: #032942 !important;
}

.btn-outline-white:hover {
  background-color: #032942;
  color: #fff !important;
  border-color: #fff;
}

[data-toggle=collapse] {
  text-align: left;
}

[data-toggle=collapse][aria-expanded=true] {
  background-color: #032942;
  color: #fff;
}

.card {
  border: 2px solid #032942;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 40px;
}

header .app-logo__container {
  height: 34px;
  width: 100px;
}

header .menu-toggle__btn {
  display: none;
  background-color: #fff;
  border: 0px;
  padding: 10px 20px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li a {
  text-transform: uppercase;
  padding: 0px 20px;
  color: #fff;
  margin-right: 15px;
}

header nav ul li a:hover {
  color: #fff;
}

header nav.open {
  display: block;
}

@media screen and (max-width: 772px) {
  header {
    padding: 0px 2rem;
  }

  header .menu-toggle__btn {
    display: block;
    z-index: 3;
  }

  header nav {
    display: none;
  }

  header nav.open {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 2;
  }

  header nav.open ul {
    flex-direction: column;
    align-items: unset;
  }

  header nav.open ul li a {
    padding: 0.9rem 2.6rem;
    color: #000;
    display: block;
    margin-right: 0px;
    border-radius: 0px;
  }
}

.download-section__text {
  padding-top: 3rem;
}

.download-section .store-img__container {
  display: flex;
}

.download-section .store-img__container .app-store__img {
  width: 145px;
  height: 43px;
  margin-right: 20px;
}

.hire-vehicles {
  margin: 40px 0px;
}

.hire-vehicles .view-more__slider {
  overflow: hidden;
}

.hire-vehicles .view-more__slider .slide {
  height: 148px;
  border: 2px solid #032942;
  display: flex !important;
  justify-content: center;
  border-radius: 5px;
}

.hire-vehicles .view-more__slider .slide a {
  color: #828282;
}

.hire-vehicles .view-more__slider .slide a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hire-vehicles .view-more__slider .slick-slide {
  padding: 20px;
  width: auto;
}

.hire-vehicles .sub-actions {
  margin-bottom: 120px;
}

.hire-vehicles .sub-actions button {
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
  border: 0px;
}

.hire-vehicles .sub-actions button.add-vehicle {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
}

.hire-vehicles .sub-actions button.rate-drivers {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0;
}

.hire-vehicles .solution-item__img {
  width: 51px;
  height: 47.6px;
  margin: 0 auto;
}

.hire-vehicles .solution-item h6 {
  color: #FEBE16;
}

.hire-vehicles .outsource-section {
  background-image: url(/imgs/london.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.hire-vehicles .features #techpoint-logo {
  height: 31px;
}

@media screen and (max-width: 768px) {
  .hire-vehicles .sub-actions button {
    border-radius: 0px;
  }
}

.react-tabs__tab-list {
  border: 0px;
  margin-bottom: 0px;
}

.react-tabs__tab {
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  margin-right: 10px;
  padding: 0.6rem 1.8rem;
  color: #000;
  display: inline-flex;
  align-items: center;
}

.react-tabs__tab:last-of-type {
  margin-right: 0px;
}

.react-tabs__tab--selected {
  background-color: #032942;
  border-radius: 10px 10px 0 0;
  border-color: #032942;
  color: #fff;
}

.react-tabs .tab-panel {
  background-color: rgba(255, 255, 255, 0.16);
  padding: 2rem 3rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .react-tabs__tab-list {
    overflow-x: scroll;
    display: flex;
    overflow-y: hidden;
  }
}

#home .hero {
  height: auto;
  width: 100%;
  background-image: url(/imgs/hero-pic.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

#home .hero .home-tabs__container {
  max-width: 865px;
  margin: 0 auto;
}

#home .hero .home-tabs__container .form-control {
  padding: 1.4rem 1rem;
}

#home .page-tab-content {
  margin: 80px 0px;
}

footer section:nth-child(1) {
  background-color: #032942;
  color: #fff;
}

footer section:nth-child(1) a {
  color: #fff;
  font-size: 0.9rem;
}

footer section:nth-child(1) .social-contact {
  display: flex;
}

footer section:nth-child(1) .social-contact .app-logo__container {
  width: 120px;
}

footer section:nth-child(1) .social-contact .icons {
  display: flex;
  align-items: center;
}

footer section:nth-child(1) .social-contact .icons > a {
  font-size: 1.5rem;
  margin-right: 15px;
}

footer section:nth-child(2) {
  background-color: #FEBE16;
}

