.btn{
  padding: .7rem 2rem;
  font-weight: 500;

  &-primary{
    background-color: $primary;
    color: #fff !important;
    border-color: $primary;
  }

  &-warning{
    color: #fff;
  }

  &-outline-primary{
    border-color: $primary;
    color:  $primary;

    &:hover, &:active{
      background-color: $primary;
      box-shadow: none;
      outline: 0px;
      border: 0px;
    }

    &:focus{
      box-shadow: none;
    }
  }

  &-outline-white{
    background-color: #fff;
    border-color: $primary;
    color: $primary !important;

    &:hover{
      background-color: $primary;
      color: #fff !important;
      border-color: #fff;
    }
  }
}

[data-toggle=collapse]{
  text-align: left;
  &[aria-expanded=true]{
    background-color: $primary;
    color: #fff;
  }
}


.card{
  border: 2px solid $primary;
}