.download-section {
  &__text {
    padding-top: 3rem;
  }

  .store-img__container {
    display: flex;

    .app-store__img {
      width: 145px;
      height: 43px;
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 768px) {
  }
}
