.react-tabs {
  &__tab-list {
    border: 0px;
    margin-bottom: 0px;
  }

  &__tab {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    margin-right: 10px;
    padding: 0.6rem 1.8rem;
    color: #000;
    display: inline-flex;
    align-items: center;

    &:last-of-type {
      margin-right: 0px;
    }

    &--selected {
      background-color: $primary;
      border-radius: 10px 10px 0 0;
      border-color: $primary;
      color: #fff;
    }
  }

  .tab-panel {
    background-color: rgba(255, 255, 255, 0.16);
    padding: 2rem 3rem;
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    &__tab-list {
      overflow-x: scroll;
      display: flex;
      overflow-y: hidden;
    }
  }
}
